<div class="maxw1050 mx-auto px15">
  <div class="my40">
    <%= link_to 'Back', playback_path(@commentable.playback, anchor: @commentable.anchor) %>
    <h1 class="h2 bold mb20">Comment on...</h1>

    <%- if @commentable.class == Step %>
      <div class="step fs18">
        <div class="index"></div>
        <div class="details"><%= raw @commentable.name %></div>
        <div class="action"></div>
      </div>
    <% else %>
      <fieldset>
        <legend align="center"><%= @commentable.name %></legend>

        <div class="center section-description">
          <%= raw @commentable.description %>

          <%- if @commentable.confidence.present? %>
            <div class="confidence fs14">
              <%= tag.div(class: 'confidence-indicator', style: "left: calc(#{@commentable.confidence}0% - 8px)") %>
              <span class="confidence-left-label">Not at all confident</span>
              <span class="confidence-right-label">Extremely confident</span>
            </div>
          <% end %>
        </div>
      </fieldset>
    <% end %>

    <%= render '/comments/list', commentable: @commentable %>
  </div>

  <div class="notice mb30">
    <strong>Please note:</strong> Subject to availability, advisors aim to respond to support requests within 1-2 weeks, and that messages posted here are only visible to CAST and anyone who has been given it's unique link. If you have additional questions please contact <%= mail_to 'hello@wearecast.org.uk', 'hello@wearecast.org.uk'%>.
  </div>

  <%= simple_form_for @comment, url: new_comment_path(@commentable) do |f| %>
    <h3 class="bold mb20">Ask for help</h3>

    <%= f.hidden_field :done, value: params[:done] %>
    <div class="mb20"><%= f.input :author %></div>

    <div class="bold fs18 mb20">
      <%- if params[:done] %>
        Please describe the outcome of completing this step...
      <% else %>
        Please describe the support you need...
      <% end %>
    </div>

    <%= f.trix_editor :body %>
    <span class="error mb20">
      <%= @comment.errors[:body][0] %>
    </span>

    <%- if params[:done] %>
      <%= f.button :submit, 'Mark as done' %>
    <% else %>
      <%= f.button :submit, 'Comment' %>
    <% end %>
  <% end %>
</div>