<%= simple_form_for playback do |f| %>
  <header class="flex flex-wrap">
    <div class="flex-col1 mb30 px15">
      <%= f.input :logo_url %>
      <%= f.input :organisation_name %>
      <%= f.input :email %>
      <%= f.input :project_name %>
      <%= f.input :description %>
    </div>
    <div class="flex-col1 mb30 px15">
      <%= f.input :source %>
      <%= f.input :author_name %>
      <%= f.input :period %>
    </div>
  </header>

  <div class="px15">
    <div class="mb60 notice"><%= f.trix_editor :notes %></div>

    <div id="sections">
      <%= f.simple_fields_for :sections, f.object.sections.order(:created_at) do |section| %>
        <%= render 'section_fields', f: section %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add Section', f, :sections, class: 'btn purple' %>
      </div>
    </div>

    <hr class="my40">

    <%= f.button :submit, class: 'mb20' %>
  </div>
<% end %>