<section class="nested-fields insight border blue">

  <div class="right-align">
    <%= link_to_remove_association 'Remove Insight', f, class: 'btn blue' %>
  </div>

  <div class="center mb60">
    <div class="tag mb20">
      <%= f.input :name, label: 'Insight name' %>
      <%= f.input :certainty, collection: Insight::CERTAINTY %>
    </div>

    <%= f.input :description %>
  </div>

  <div class="flex flex-wrap mb30">
    <div class="flex-col1 px15 mb30">
      <h3 class="bold center mb30">What's going well</h3>
      <%= f.input :successes, label: false %>
    </div>
    <div class="flex-col1 px15 mb30">
      <h3 class="bold center mb30">What could be improved</h3>
      <%= f.input :improvements, label: false %>
    </div>
    <div class="flex-col1 px15 mb30">
      <h3 class="bold center mb30">What have we learned</h3>
      <%= f.input :learnings, label: false %>
    </div>
  </div>

  <div class="center fs14 mb60 notice"><%= f.input :notes %></div>

  <div id="steps">

    <hr>

    <h3 class="bold center my40">Next Steps</h3>

    <%= f.simple_fields_for :steps do |step| %>
      <%= render 'step_fields', f: step %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Step', f, :steps, class: 'btn orange' %>
    </div>
  </div>

</section>