<%- insights.order(:created_at).each do |insight| %>

  <section class="insight">

    <div class="center mb60">
      <%= status(insight) %>
      <p class="fs18"><%= raw insight.description %></p>
    </div>

    <div class="flex flex-wrap mb30">
      <div class="flex-col1 px15 mb30">
        <h3 class="bold center mb30">What's going well</h3>
        <%= raw with_default(insight.successes) %>
      </div>
      <div class="flex-col1 px15 mb30">
        <h3 class="bold center mb30">What could be improved</h3>
        <%= raw with_default(insight.improvements) %>
      </div>
      <div class="flex-col1 px15 mb30">
        <h3 class="bold center mb30">What have we learned</h3>
        <%= raw with_default(insight.learnings) %>
      </div>
    </div>

    <%= notes(insight.notes) %>

    <%- if insight.steps.any? %>

      <hr>

      <h3 class="bold center my40">Next Steps</h3>

      <%- insight.steps.order(:created_at).each_with_index do |step, index| %>
        <div class="mb20">
          <div class="step fs18" id=<%= "step-#{step.id}" %> >
            <div class="index"><%= index + 1 %></div>

            <%= tag.div(raw(step.name), class: line_through(step)) %>

            <div class="action">
              <%- if step.completed_on? %>
                <%= link_to 'Comment', new_step_comment_path(step) %>
              <% else %>
                <%= link_to 'Mark as done', new_step_comment_path(step, done: true) %>
                <br>or
                <%= link_to 'Get help', new_step_comment_path(step) %>
              <% end %>
            </div>
          </div>

          <%= render '/comments/list', step: step %>
        </div>
      <% end %>

    <% end %>

  </section>

<% end %>