<div class="nested-fields">
  <fieldset class="border purple">
    <legend align="center"><%= f.input :name, label: 'Section name' %></legend>

    <div class="section-description">
      <div class="right-align mb20">
        <%= link_to_remove_association 'Remove Section', f, class: 'btn purple' %>
      </div>
      <%= f.trix_editor :description, class: 'mb20' %>
      <%= f.input :confidence, collection: 0..10, label_method: ->(o) { confidence_label(o) } %>
    </div>

    <div id="insights">
      <%= f.simple_fields_for :insights, f.object.insights.order(:created_at) do |insight| %>
        <%= render 'insight_fields', f: insight %>
      <% end %>
      <div class="links my40">
        <%= link_to_add_association 'Add Insight', f, :insights, class: 'btn blue' %>
      </div>
    </div>
  </fieldset>
</div>