<div class="maxw1050 mx-auto px15">

  <p id="notice"><%= notice %></p>

  <header class="flex flex-wrap">
    <h3 class="flex-col1 mb30"><%= organisation(@playback) %></h3>
    <h3 class="flex-col1 mb30 right-align"><%= context(@playback) %></h3>
  </header>

  <%= notes(@playback.notes) %>

  <%- @playback.sections.each do |section| %>
    <fieldset>
      <legend align="center"><%= section.name %></legend>
      <div class="center fs14 section-description">
        <%= raw section.description %>
      </div>
      <%= render('section', insights: section.insights) %>
    </fieldset>
  <% end %>

  <div class="mb30">
    <%= link_to 'Edit', edit_playback_path(@playback) %> |
    <%= link_to 'Back', playbacks_path %> |
    Last updated <%= time_ago_in_words(@playback.updated_at) %> ago
  </div>
</div>