<div class="maxw1050 mx-auto px15">
  <p id="notice"><%= notice %></p>

  <header class="flex flex-wrap">
    <h3 class="flex-col1 mb30"><%= organisation(@playback) %></h3>
    <h3 class="flex-col1 mb30 right-align"><%= context(@playback) %></h3>
  </header>

  <%= notes(@playback.notes) %>

  <%- @playback.sections.order(:created_at).each do |section| %>
    <fieldset>
      <legend align="center"><%= section.name %></legend>
      <div class="section-description">
        <div class="center"><%= raw section.description %></div>

        <%- if section.confidence.present? %>
          <div class="confidence fs14">
            <%= tag.div(class: 'confidence-indicator', style: "left: calc(#{section.confidence}0% - 8px)") %>
            <span class="confidence-left-label">Not at all confident</span>
            <span class="confidence-right-label">Extremely confident</span>
          </div>
        <% end %>

        <div class="mb30">
          <%= render '/comments/list', commentable: section %>
        </div>
        <div class="center">
          <%= link_to 'Ask for help', new_comment_path(section), class: 'btn' %>
        </div>
      </div>
      <%= render('section', insights: section.insights) %>
    </fieldset>
  <% end %>

  <div class="mb30">
    <%- if user_signed_in? %>
      <%= link_to 'Edit', edit_playback_path(@playback) %> |
      <%= link_to 'Back', playbacks_path %> |
    <% end %>
    Last updated <%= time_ago_in_words(@playback.updated_at) %> ago
  </div>
</div>