<h1><%= @comment.author %> <%= comment_done_message(@comment) %></h1>

<h3 style="margin: 0;">Step</h3>
<p style="margin: 5px 0 20px;"><%= @comment.step.name %></p>

<h3 style="margin: 0 0 5px;">Comment</h3>
<div style="background: #f2f2f2; padding: 20px; margin-bottom: 20px;">
  <%= raw @comment.body %>
</div>

<strong>
  <%= link_to 'Reply here', new_step_comment_url(@comment.step) %>
</strong>